@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik+Puddles&display=swap');
*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}



/* NAVIGATION BAR */

/* Add a black background color to the top navigation */
header {
    background-color: #1E4775;
    overflow: hidden;
    color:#FFFFFF
  }
nav{
   float: left ;
}

  
  /* Style the links inside the navigation bar */
nav a {
    /* float: 0; */
    color: #f2f2f2;
    text-align: center;
    padding: 20px 12vw;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
  }

h1{
  font-family: 'Rubik Puddles', cursive;
  font-size: 60px;
}

/* Button Design */

button {
  border-radius: 15px;
  height: 3rem;
  width: 15rem;
  background-color:  #F6B40D;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 25px;

}
/* CSS for add puppies form */
.new-player-form {
  max-width: 400px;
  margin: 0 auto;
}

.subTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #F6B40D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #F6B40D;
}

.team-list {
  list-style: none; /* Remove default bullets/numbers */
}

.team-list li {
  margin-bottom: 10px;
}
/* END CSS FOR ADD PUPPIES FORM */

